<nav>
        <ul class="nav-left">
                <li><a href="/">Accueil</a></li>

                <% if (user) { %>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/users">Utilisateurs</a></li>
                        <li><a href="/catways-page">Catways</a></li>
                <% } %>
        </ul>

        <% if (user) { %>
                <ul class="nav-right">
                        <li><a href="/logout">Déconnexion</a></li>
                </ul>
        <% } %>
</nav>
<hr>